body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    border-top: none;
    border-bottom: none;
    background-color: #1d1000;
    text-align: center;
}
.content{
    width: 85%;
    height: 100%;
    background-color: #a59f93;
    padding-bottom: 100px;
}
.personaContainer{
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
}
.personaText{
    display: grid;
    display: inline-grid;
    float: right;
    width: 470px;
    text-align: left;
    padding: 5px;

}
.persona{
    display: grid;
    display: inline-grid;
    float: left;
    padding: 30px;
}
small{
    font-style: italic;
}
button{
    background-color: #817a6b;
    font-size: larger;
    padding: 8px;
    box-shadow: 3px 3px 8px  #9f95b8;
    border: 1px solid #372115;
}
a{
    text-decoration: none;
}
a:hover{
    color:#48bccf;
}
a:visited{
    color:#c0b4dd;
}
hr{
    color: #372115;
}